<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="flag::head_flag('图书管理系统')"></head>
<body class="no-skin">
<style>
    .margin-right {
        margin-right: 20px;
    }
    .custom-center{
        margin-left: auto;
        margin-right: auto;
    }
    .width1000{
        width: 1000px;
    }
</style>
<link rel="stylesheet" th:href="@{/assets/css/dropzone.min.css}" />
<div id="navbar" class="navbar navbar-default ace-save-state"
     th:include="flag::navbar-flag(${#httpServletRequest.remoteUser})">
    <!--navbar-->
</div>

<div class="main-container ace-save-state" id="main-container">
    <div th:include="flag::menu_flag" id="sidebar" class="sidebar responsive ace-save-state"></div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a href="#">图书</a>
                    </li>
                    <li class="active">图书列表</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        图书管理
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            新增图书
                        </small>
                    </h1>
                </div>
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="bookName"> 图书名称 </label>

                            <div class="col-sm-8">
                                <input type="text" id="bookName" name="bookName" placeholder="图书名称"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="coverImg"> 图片封面 </label>
                            <div class="col-sm-8" id="coverImg" style="width: 40%;">
                                <i class="upload-icon ace-icon fa fa-cloud-upload blue fa-3x"></i>
                                图片拖至此处上传
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="authorName"> 作者名称 </label>

                            <div class="col-sm-8">
                                <input type="text" id="authorName" name="authorName" placeholder="作者名称"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="eBookUrl"> 电子版链接 </label>

                            <div class="col-sm-8">
                                <input type="text" id="eBookUrl" name="eBookUrl" placeholder="电子版链接"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="eBookPwd"> 电子版密码 </label>

                            <div class="col-sm-8">
                                <input type="text" id="eBookPwd" name="eBookPwd" placeholder="电子版密码"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="bookDesEditorAreaContainer"> 图书简介 </label>
                        </div>
                        <div id="bookDesEditorAreaContainer" class="custom-center width1000">
                            <div class="wysiwyg-editor" id="bookDesEditorArea" contenteditable="true"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="authorDesEditorAreaContainer"> 作者简介 </label>
                        </div>
                        <div id="authorDesEditorAreaContainer" class="custom-center width1000">
                            <div class="wysiwyg-editor" id="authorDesEditorArea" contenteditable="true"></div>
                        </div>
                        <div class="clearfix form-actions">
                            <div style="width: 297px" class="custom-center">
                                <button class="btn btn-info" type="button">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    提交
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    取消
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer" th:include="flag::foot_flag"></div>

</div><!-- /.main-container -->

<div th:include="flag::script_flag"></div>
<script th:src="@{/assets/js/jquery-ui.custom.min.js}"></script>
<script th:src="@{/assets/js/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/assets/js/jquery.hotkeys.index.min.js}"></script>
<script th:src="@{/assets/js/bootstrap-wysiwyg.min.js}"></script>
<script th:src="@{/assets/js/bootbox.js}"></script>
<script th:src="@{/assets/js/dropzone.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        aceEditorAreaInit();
        dropZoneInit();
    });
    function aceEditorAreaInit() {
        initAceWysiwyg("#bookDesEditorArea");
        initAceWysiwyg("#authorDesEditorArea");
    }
    function showErrorAlert (reason, detail) {
        var msg='';
        if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
        else {
            //console.log("error uploading file", reason, detail);
        }
        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
            '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
    }
    function initAceWysiwyg(editorAreaId) {
        $(editorAreaId).ace_wysiwyg({
            toolbar:
                [
                    'font',
                    null,
                    'fontSize',
                    null,
                    {name:'bold', className:'btn-info'},
                    {name:'italic', className:'btn-info'},
                    {name:'strikethrough', className:'btn-info'},
                    {name:'underline', className:'btn-info'},
                    null,
                    {name:'insertunorderedlist', className:'btn-success'},
                    {name:'insertorderedlist', className:'btn-success'},
                    {name:'outdent', className:'btn-purple'},
                    {name:'indent', className:'btn-purple'},
                    null,
                    {name:'justifyleft', className:'btn-primary'},
                    {name:'justifycenter', className:'btn-primary'},
                    {name:'justifyright', className:'btn-primary'},
                    {name:'justifyfull', className:'btn-inverse'},
                    null,
                    {name:'createLink', className:'btn-pink'},
                    {name:'unlink', className:'btn-pink'},
                    null,
                    {name:'insertImage', className:'btn-success'},
                    null,
                    'foreColor',
                    null,
                    {name:'undo', className:'btn-grey'},
                    {name:'redo', className:'btn-grey'}
                ],
            'wysiwyg': {
                fileUploadError: showErrorAlert
            }
        }).prev().addClass('wysiwyg-style2');
        $('[data-toggle="buttons"] .btn').on('click', function(e){
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            var toolbar = $(editorAreaId).prev().get(0);
            if(which >= 1 && which <= 4) {
                toolbar.className = toolbar.className.replace(/wysiwyg\-style(1|2)/g , '');
                if(which == 1) $(toolbar).addClass('wysiwyg-style1');
                else if(which == 2) $(toolbar).addClass('wysiwyg-style2');
                if(which == 4) {
                    $(toolbar).find('.btn-group > .btn').addClass('btn-white btn-round');
                } else $(toolbar).find('.btn-group > .btn-white').removeClass('btn-white btn-round');
            }
        });

        if ( typeof jQuery.ui !== 'undefined' && ace.vars['webkit'] ) {

            var lastResizableImg = null;
            function destroyResizable() {
                if(lastResizableImg == null) return;
                lastResizableImg.resizable( "destroy" );
                lastResizableImg.removeData('resizable');
                lastResizableImg = null;
            }

            var enableImageResize = function() {
                $('.wysiwyg-editor')
                    .on('mousedown', function(e) {
                        var target = $(e.target);
                        if( e.target instanceof HTMLImageElement ) {
                            if( !target.data('resizable') ) {
                                target.resizable({
                                    aspectRatio: e.target.width / e.target.height,
                                });
                                target.data('resizable', true);

                                if( lastResizableImg != null ) {
                                    //disable previous resizable image
                                    lastResizableImg.resizable( "destroy" );
                                    lastResizableImg.removeData('resizable');
                                }
                                lastResizableImg = target;
                            }
                        }
                    })
                    .on('click', function(e) {
                        if( lastResizableImg != null && !(e.target instanceof HTMLImageElement) ) {
                            destroyResizable();
                        }
                    })
                    .on('keydown', function() {
                        destroyResizable();
                    });
            }

            enableImageResize();

            /**
             //or we can load the jQuery UI dynamically only if needed
             if (typeof jQuery.ui !== 'undefined') enableImageResize();
             else {//load jQuery UI if not loaded
			//in Ace demo ./components will be replaced by correct components path
			$.getScript("assets/js/jquery-ui.custom.min.js", function(data, textStatus, jqxhr) {
				enableImageResize()
			});
		}
             */
        }
    };
    function dropZoneInit() {
        $("div#coverImg").dropzone({ url: "/file/post" });
    }
    /*]]>*/
</script>
</body>
</html>