<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="flag::head_flag('图书管理系统')"></head>
<body class="no-skin">
<style>
    .margin-right{
        margin-right: 20px;
    }
    .short-area{
        width: 200px;
        overflow: hidden;
    }
</style>
<div id="navbar" class="navbar navbar-default ace-save-state" th:include="flag::navbar-flag(${#httpServletRequest.remoteUser})">
    <!--navbar-->
</div>

<div class="main-container ace-save-state" id="main-container">
    <div th:include="flag::menu_flag" id="sidebar" class="sidebar responsive ace-save-state"></div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a href="#">图书</a>
                    </li>
                    <li class="active">借书列表</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title">借书列表</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <label for="bookName">图书名称:</label>
                            <input class="form-field-1 margin-right" id="bookName" placeholder="图书名称" type="text" th:value="${borrowParam.bookName}"/>
                            <label for="category">图书分类:</label>
                            <select id="category" class="margin-right">
                                <option></option>
                                <option th:each="bookType : ${bookTypes}" th:attr="value=${bookType.type}" th:text="${bookType.name}" selected="selected" th:if="${borrowParam.type == bookType.type}">科技</option>
                                <option th:each="bookType : ${bookTypes}" th:attr="value=${bookType.type}" th:text="${bookType.name}" th:unless="${borrowParam.type == bookType.type}">科技</option>
                            </select>
                            <label for="borrowState">图书状态:</label>
                            <select id="borrowState" class="margin-right">
                                <option value="10" th:if="${borrowParam.status != 10}">已借</option>
                                <option value="20" th:if="${borrowParam.status != 20}">已还</option>
                                <option value="30" th:if="${borrowParam.status != 30}">已预约</option>
                                <option value="10" th:if="${borrowParam.status == 10}" selected="selected">已借</option>
                                <option value="20" th:if="${borrowParam.status == 20}" selected="selected">已还</option>
                                <option value="30" th:if="${borrowParam.status == 30}" selected="selected">已预约</option>
                            </select>
                            <button class="btn btn-sm" id="queryBtn">
                                <i class="ace-icon fa fa-search "></i>
                                查询
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div>
                            <table id="tb-header" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="center">
                                        序号
                                    </th>
                                    <th>图书名称</th>
                                    <th>图书类型</th>
                                    <th>图书状态</th>
                                    <th>图书作者</th>
                                    <th>借书人</th>
                                    <th>待还天数</th>
                                    <th>操作</th>
                                </tr>
                                </thead>

                                <tbody id="tb-info">
                                <tr th:each="borrow,borrowState:${borrowPage.list}">
                                    <td class="center" th:text="${borrowState.index + 1}">
                                        1
                                    </td>
                                    <td th:text="${borrow.book.bookName}">人与自然</td>
                                    <td th:text="${borrow.book.typeName}">科技类</td>
                                    <td th:switch="${borrow.status}">
                                        <p th:case="10">已借</p>
                                        <p th:case="20">已还</p>
                                        <p th:case="30">已预约</p>
                                    </td>
                                    <td th:text="${borrow.book.authorName}">爱德华</td>
                                    <td  th:if="${!#strings.isEmpty(borrow.nickName)}" th:text="${borrow.nickName}">刘德华</td>
                                    <td  th:if="${#strings.isEmpty(borrow.nickName)}" th:text="${borrow.userName}">刘德华</td>
                                    <td th:if="${(borrow.pastDay - borrow.book.borrowNum) gt 0 and borrow.status == 10 }" style="color:red;">
                                        超期<span th:text="${borrow.pastDay - borrow.book.borrowNum}"></span>天
                                    </td>
                                    <td th:if="${(borrow.pastDay  - borrow.book.borrowNum) le 0 and borrow.status == 10}">
                                        还剩<span th:text="${borrow.book.borrowNum - borrow.pastDay }"></span>天
                                    </td>
                                    <td th:if="${borrow.status != 10}">

                                    </td>
                                    <td>
                                        <!--<button class="btn btn-info btn-xs">
                                            <i class="ace-icon fa bigger-130">
                                                <span style="font-size: small">详情</span>
                                            </i>
                                        </button>-->
                                        <button class="btn btn-info btn-xs" th:if="${borrow.status == 10}" id="giveBackBtn" th:onclick="'javascript:giveBookBack('+${borrow.id}+',20);'">
                                            <i class="ace-icon fa bigger-130">
                                                <span style="font-size: small"> 还书</span>
                                            </i>
                                        </button>
                                        <!--<button class="btn btn-info btn-xs" th:if="${borrow.status == 10}" id="sendMsg">
                                            <i class="ace-icon fa bigger-130">
                                                <span style="font-size: small"> 通知还书</span>
                                            </i>
                                        </button>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer" th:include="flag::foot_flag"></div>

</div><!-- /.main-container -->

<div th:include="flag::script_flag"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        bindEvents();
    });
    function bindEvents() {
        $("#addBtn").on("click",function (e) {
           location.href = globalPath+"/borrow/toAddPage";
        });
        $("#queryBtn").on("click",function (e) {
           var url = globalPath+"/borrow/queryList?";
           var bookName = $.trim($("#bookName").val());
           var bookType = $.trim($("#category").val());
           var borrowState = $.trim($("#borrowState").val());
           if(bookName){
               url+=("bookName="+bookName);
           }
           if(bookType){
               url+=("&type="+bookType);
           }
           if(borrowState){
               url+=("&status="+borrowState)
           }
           location.href = url;
        });
    };
    function toUpdate(bookId) {
        location.href = globalPath+"/book/toUpdate/"+bookId;
    }
    function down(bookId) {
        location.href=globalPath+"/book/save?id="+bookId+"&status=40";
    }
    function giveBookBack(borrowId,status) {
        if(!confirm("确认还书吗?")){
            return;
        }
        $.ajax({
            url:globalPath+"/borrow/"+borrowId+"/"+status,
            type:"POST",
            data:{
                _method:"post"
            },
            success:function (result) {
                if(result.code == 200 ){
                    alert("还书成功!")
                    location.href = globalPath+"/borrow/queryList";
                }
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>